ion-card.card-one {
  background: url(../../../assets/images/work-experience.jpeg);
  background-size: cover;
  width: 50%;
  height: 9rem;
}
ion-card.card-two {
  background: url(../../../assets/images/education.jpeg);
  background-size: cover;
  width: 50%;
  height: 9rem;
}
